extends layout

block content
 div(class='midpage')
  h1 My Ad
  label <em>Name:</em> #{name}
  br
  br
  label <em>Value:</em> #{value}
  br
  br
  label <em>Cathegory:</em> #{cathegory}
  br
  br
  label <em>Likes:</em> #{likes}
  br
  br
  label <em>Description:</em> #{description}
  br
  br
  form(method = 'post')
   label(for='password') <em>Enter your password:</em> 
   input(type='password' name='password')
   input(type='submit' value='Collect')
  br
  br